#container {
  display: none;
  position: fixed;
  width: 25%;
}

#playmat {
  background: lightBlue;
  width: 47.5%;
  float: left
}

#dicePad {
  background: gray;
  width: 47.5%;
  float: right
}

#planetMat {
  display: none;
  postion: fixed;
  width: 70%;
  float: right;
}

#planet1 {
  position: relative;
  left: 1%;
  top: 3%;
  background: BlueViolet;
  width: 20%;
  float: left;
  border: none;
}

#planet2 {
  position: relative;
  left: 15px;
  top: 3%;
  background: BlueViolet;
  width: 20%;
  float: left;
  border: none;
}

#planet3 {
  position: relative;
  left: 20px;
  top: 3%;
  background: BlueViolet;
  width: 20%;
  float: left;
  border: none;
}

#planet4 {
  position: relative;
  left: 25px;
  top: 3%;
  background: BlueViolet;
  width: 20%;
  float: left;
  border: none;
}

#shipInfo {
  background: darkCyan;
  width: 47.5%
}
